# Bytecode de Python
__pycache__/

#IDEA
.idea/

circulares/
circulares bis.zip
CircularesDivididas/
OtrosDocumentos

logs*
*.pklmyenv/
myenv/
test_env/

*/chroma_db/
chroma_db/
chroma_db_prueba/

.tmp/*
.env
paraComprobar/
Correspondencia/

*.tar

AUPSA_ACE_JN_Correspondencia Presidencia/